.about-div{
background-color:#F1F062 ;
height: 200px;
padding-top: 20px;
}

.about{
/* width: 100%; */
/* height: 160px; */
background-color:#F1F062 ;
border-left: 1px solid #ebeff0;
border-right: 1px solid #ebeff0;
display: flex;
align-items: center;
padding-left: 10px;
padding-right: 10px;
box-sizing: border-box;

}


.about-headline{
    font-size:30px;
    color:#454545;
    font-family: 'Maven Pro';
}

.about-details{
    font-size: 12px;
}


.go-top1 a{
    color:#ebeff0;
}

.go-top1{
    border: none;
    margin-top: 10px;
    width:100px;
    height: 23px;
    background-color:#454545;
}