.footer{
    background-color:#222222 ;
    height:42px ;
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.foot{
    background-color:#222222 ;
}

.copy{
    margin: 0;
    font-family: 'Maven Pro Regular';
    font-size: 12px;
    color:#454545;
    margin-left: 40px;
}