.pictures{
    height: 720px;
    width: 820px;
    border-left: 1px solid #ebeff0;
    border-right: 1px solid #ebeff0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.imgs{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    flex-wrap: wrap;
}

