.pictures{
    /* height: 840px; */
    /* width: 820px; */
    border-left: 1px solid #ebeff0;
    border-right: 1px solid #ebeff0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs{
    margin-top: 0;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imgs *{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
  
}

.img-size{
    width: 180px;
    height: 180px;
    margin: 5px;
}

