.pictures{
    height: 720px;
    width: 820px;
    border-left: 1px solid #ebeff0;
    border-right: 1px solid #ebeff0;
}

.imgs{
    margin: 30px;
    display: flex;
    justify-content: space-between
}

.imgs *{
    width: 150px;
    height: 150px;;
}