.profile{
    
    background-color: #2eb398;
    height: 340px;
    border-left: 1px solid #e4e9eb;
    border-right: 1px solid #e4e9eb;
    width: 100%;
    display: flex;
    justify-content: center;
}
.illus-prof{
    background-color:#2eb398;
    display: flex;
    align-items: flex-end;
}

.profile-box{
    margin-top: 45px;
    height: 340px;
    width: 820px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.illus-pic{
    height: 205px;
    margin: 20px;
}

.details{
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.illus-name{
    font-size: 30px;
    color:#d7fcf5;
    margin: 0;
}

.illus-job{
    font-size: 18px;
    color:#289b84;
    margin: 0;
}

.about-illus{
    font-size: 12px;
    color:#d7fcf5;
    margin: 0;
    height: 85px;
}

.social{
width: 163px;
}