.profile{
    
    background-color: #2eb398;
    height: 320px;
    border-left: 1px solid #e4e9eb;
    border-right: 1px solid #e4e9eb;
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.illus-prof{
    background-color:#2eb398;
    height: 340px;
    display: flex;
    align-items: flex-end;
}

.profile-box{
    margin-top: 45px;
    height: 340px;
    width: 820px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.illus-pic{
    height: 205px;
}

.details{
    height: 207px;
    width:587px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.illus-name{
    font-size: 30px;
    color:#d7fcf5;
    margin: 0;
    font-family: 'Maven Pro';
}

.illus-job{
    font-size: 18px;
    color:#289b84;
    margin: 0;
    font-family: 'Maven Pro';
    
}

.about-illus{
    font-size: 12px;
    color:#d7fcf5;
    margin: 0;
    height: 85px;
    line-height: 160%;
}

.social{
width: 150px;
height: 27px;
display: flex;
align-self: flex-end;
}