.buttons{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}


.search-bar{
    display: flex;
    justify-content: center;
    margin-top: 71px;
    flex-wrap: wrap;
}


.add-img{
    margin-top: 50px;
    margin-left: 48px;
    height:27px;
    width:50%;
    /* width:220px; */
    margin:5px;
    display: flex;
    padding: 0;
}

.btn-add-img{
    width:50%;
    /* width:120px; */
    height: 26px; 
    background-color:#2eb398;
    font-size: 12px;
    color:#f1f1f1;
    border: none;
}

.search-img-by-key{
    width:50%;
    
    /* width:230px; */
    display: flex;
   margin:5px;
}

.img-key{
    
    height:19px;
    width:50%;
    /* width:100px; */
    font-size:11px;
}
.search-img-by-list{
    display: flex;
    margin:5px;   
}


.display-keys{
    color:#323232;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    
}

.added-pic{
    
    height: 50px;
    width: 72px;
    margin-top: 120px;
    margin-left: -472px;
}

.img-url{
    width:50%;
    /* width:100px; */
    margin-left: 5px;
    color:transparent;
    border: none;
}

.img-url input[type=file] {
    display:none;
    margin:10px;
    }

