@import 'nav.css';
@import 'pics-box.css';
@import 'profile.css';
@import 'in-touch.css';
@import 'footer.css';
@import 'normalize.css';
@import 'about.css';
@import 'search-by-list.css';
@import 'search-upload-btns.css';
@import 'media.css';
@import 'memeGenerator.css';